
.col-md-4 {
  height: 23vh;
  text-align: center;
  font-size: 130px;
  border: 3px solid papayawhip;
  color: papayawhip;
}
.row {
  width: 800px;
}

 body {
   text-align: center;
   background-color: #774d69;
   color: papayawhip;
 }


h1 {
  font-family: 'Fascinate Inline', cursive;
  font-size: 50px;
  margin-bottom: 30px;
}

.card {
  background-color: papayawhip;
  color:#774d69;
  text-align: center;
}

ul {
  padding: 0;
}